.navbar1 {
  background: #d9534f;
}
.btn2 {
  padding: 13px;
  width: 80px;
}
.heading {
  margin-top: -10px;
  margin-left: 20px;
  font-family: cursive;
}
/* .navbar{
  position: fixed;
  width: 100%;
} */

